---
layout: blank
---
<!-- the for loop it's broken and only does it for projects it should be for a given collection-->
<main>
  {{content}}
  <div class=" min-h-screen py-32 px-10 ">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-x-10 xl-grid-cols-4 gap-y-10 gap-x-6 ">
      {% for post in site[page.collection] %}
        {% if post.t_use %}
          <div class="container mx-auto shadow-lg rounded-lg max-w-md hover:shadow-2xl transition duration-300">
            {% if post.card_image %}
              <a href="{{post.url}}"><img src={{post.card_image}} alt="" class="rounded-t-lg w-full"></a>
            {% endif %}
            <div class="p-6">
              <h1 class="md:text-1xl text-xl hover:text-indigo-600 transition duration-200  font-bold text-gray-900 text-center">
                <a href="{{post.url}}">
                  {{post.title}}
                </a>
              </h1>
              <a href="{{post.url}}"><p class="text-gray-700 my-2 hover-text-900 pl-0 pr-0">
                {{post.summary}}
              </p></a>
            </div>
          </div>
          {% endif %}
      {% endfor %}
      </div>
  </div>
</main>
